* {
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Helvetica', sans-serif;
    position: relative;
}
 /*hrader*/

header{
    background-color: white;
    color: #212529;
    position: relative;
    max-width: 100%;

}

header a{
    color: inherit;
}

h1{
    margin: 0;
}

h1 img{
    width: 20%;
    padding-bottom: 20px;
}


.toolbar{
    display: flex;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    right: 2%;
}

header nav ul{
    display: flex;
    list-style: none;
    margin:0;
}
header nav li{
    padding-right: 40px;
}


header nav{
    position: relative;
    left: 300px;
    margin-bottom: 20px;
}

.user{
    padding: 0;
    margin-left: 40px;
}




header nav a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

header nav li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.search-bar{
    width: 250px;
    padding-right: 30px;
}

.cart{
    margin-bottom: 20px;
}

.to-hide{
    clip: rect(1px 1px 1px 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}
 /*body*/


.btn{
    background-color: #FF5E3A;
    border: none;
}
.btn:hover{
    background-color: #FF5E3A !important;
}

.btn-primary:hover{
    background-color: #FF3A5B !important;
}


.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: #FF5E3A;
}
.filter{
    padding-top: 140px;
}

section{
    padding-left: 250px;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}
body{
    background-color: #f4f4f4;
    position: relative;
}
.btn-group{
    position: absolute;
    left: auto;
    right: 100px;
    top: 20px;
}

/* for footer*/
.footer-links li a{
    color: #666666;
    margin-right: 70px;
}
.text{
    color: #666666;
}

.btn-color{
    background: #FF5E3A;
    color: white;
}

.btn-color2{
    background: #FF3A5B;
    color: white;
}

.toTop{
    right: 0;
    bottom: 100px;
    display: none;
}

.pink{
    color:  #FF3A5B;
}

.social-links a:hover{
    color: #FF5E3A;
}

.border-org{
    border: 1px solid  #FF5E3A;
    border-radius: 5px;
}

.newsletter{
    width: 95%;
    margin: 0 auto;
}