
.btn{
    background-color: #FF5E3A;
    border: none;
}
.btn:hover{
    background-color: #FF5E3A !important;
}

.btn-primary:hover{
    background-color: #FF3A5B !important;
}
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: #FF5E3A;
}

section{
    padding-left: 250px;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}
body{
    background-color: #f4f4f4;
    position: relative;
}
.btn-group{
    position: absolute;
    left: auto;
    right: 100px;
    top: 20px;
}

/* for footer*/
.footer-links li a{
    color: #666666;
}
.text{
    color: #666666;
}

.btn-color{
    background: #FF5E3A;
    color: white;
}

.btn-color2{
    background: #FF3A5B;
    color: white;
}

.toTop{
    right: 0;
    bottom: 100px;
}

.pink{
    color:  #FF3A5B;
}

.social-links a:hover{
    color: #FF5E3A;
}

.border-org{
    border: 1px solid  #FF5E3A;
    border-radius: 5px;
}

.newsletter{
    width: 95%;
    margin: 0 auto;
}